@model IEnumerable<SouthChandlerCycling.Models.Signup>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActualRide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualRider)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActualRide.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualRider.EmailAddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SignupID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SignupID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SignupID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
