@model SouthChandlerCycling.Models.Follow

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Follow</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FollowingID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FollowingID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FollowerID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FollowerID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FollowState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FollowState)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FollowID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
